@media (max-width: 767px) {

    .flex {
        flex-direction: column;
    }
    
    header {
        padding-bottom: 10px;
    }
    main {
        margin:0;
        padding: 0;
    }

    .aff {
        padding: 10px 0 0 5px;
        margin: 0;
    }

    header {
        margin: 0;
        padding: 0;
    }

    .pad {
        padding: 0 20px;
    }
        
    h2 {
        margin: 20px 0; 
    }

    ul {
        padding-inline-start: 0;
    }

    .hebergements-and-populaires .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;     
    }

    .hebergements-and-populaires section{
        background-color:white;
    }

    .hebergements-and-populaires{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin:  10px 0;
        padding: 20px;
        background-color: #ffffff;
    }

    .card-activite {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
    }

    .hebergement-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .hebergement-cards img {
        height: 8em;
    }

    .populaires {
        width: 100%;
        order: 1; 
        background-color: var(--main-bg-color);
        border-radius: 0%;   
    }

    .hebergements {
        width: 100%;
        order: 2; 
    }
      
    .logo {
        justify-content: center;
    }

    .section-title {
        padding: 0;
    }

    .card {
        width: 100%;
        margin-top: 10px;
    }
    
    h2 h3 .info {
        display: flex;
        flex-wrap: wrap;     
    }

    .info {
        margin-bottom: 30px;
    }
   
    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;     
    }
    
    .populaires-cards .card  {
        width: 100%;
        display: flex;
        margin-top: 30px;
    }
     .populaires-cards img {
        margin-right: 20px;
     }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .wrapper { 
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        margin: 0;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
      }

    .contenair-title {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        justify-content: center;
        box-sizing: border-box;   
    }

    .wrapper2{
        display: grid;
        grid-template-columns:1fr 1fr ;
        margin: auto;
        padding: 5px;
        grid-column-gap: 10px;
        justify-self: start;
        width: 100%;
        text-align: center;
        font-size: 14px; 
        box-sizing: border-box;  
    }
    
    /*ancre*/
    .lien1 {
        display: flex;
        border-bottom:2px solid #ffffff;
        padding:  30px 0;
        width: 100%;
        text-align: center; 
        font-size: larger; 
        justify-content: space-evenly;
        margin: 0;    
    }
    
    .lien1:hover {
        border-top: none;
        border-bottom:2px solid var(--main-color);
        padding-bottom:30px;    
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 1em;
    }

    /*recherche*/
    .recherche {
        width: 90%;
        margin: auto;
        padding-left: 10px;
    }

    .button {
        display: none;
    }

    .button-small .fa-solid{
        display: flex;
        align-items: center;
        background-color: var(--main-color);
        border-radius:15px;
        border: var(--main-color);
        color: white;
        height: 49px;
        font-weight: bold; 
        padding: 0 1em;
        margin-left: -15px;
    }

    .container-input {
        width:90%;
    }

    input {
        display: flex;
        width:100%;
        height: 49px;
        border:2px solid var(--main-bg-color);   
        font-weight: bold;   
        text-align: center; 
        border-right: none; 
        min-width: 40%;
    }

    /*filter*/
    .border-filter {
        height: auto;
        padding: 0.5em;
        min-width: 140px;
    }
    
    .title-filter {
        padding-bottom: 0;
    }

    /*activité a Marseille*/
    .activites {
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
           
    }

    /*footer*/

    .card-foot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 0;  
    }
    
}
    
    

  
  


    
   

