/****** General ***********/

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

* {
    font-family: 'Raleway', sans-serif;
}

.fa-sharp {
    color: black;
}

.fa-solid {
    color: var(--main-color);  
}

.neutralStar {
    color: var(--main-bg-color)
}

ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 20px;
    margin-block-end: 0; 
}

li {
    padding: 10px 0;
}

a { 
    text-decoration: none;
    color: black;
    font-size: 15px; 
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 5px 0;
}

.flex {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

/*hearder*/
.logo{
    display: flex;
    height: 30px;
    margin: 20px;  
}

.container-title {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;   
 }

.link {
    display: flex;      
}

.link1{
    padding-top: 20px;
    border-top:3px solid #ffffff;
    margin: 0 20px;
}

.link1 a {
    color: black;
    font-size: 18px;
}

.link1 a:visited {
    color: black;
}

.link1:hover{
    border-top:3px solid var(--main-color); 
}

.link1:hover a {
    color: var(--main-color);
}
/*title*/

h2 {
    font-size: 22px; 
}

h3 {
    font-size: 18px;
    font-weight: normal;
    margin-block: 10px ;
    margin-inline-start: 20px; 
}

.pad {
    margin: 0 10px ;
}

/*barre de recherche*/
.recherche {
    display: flex;
    padding: 20px;
    border-radius: 0;
    width: 50%;
    margin-bottom: 5px;
}

.button {
    display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 0px 15px 15px 0px;
    color: white;
    background-color: var(--main-color);
    height: 49px;
    font-weight: bold; 
    padding: 0 1em; 
    border: var(--main-color);    
}
 
.container-input {
    width:70%;
    box-sizing: border-box;
}
    
input {
    display: flex;
    height: 49px;
    border:2px solid var(--main-bg-color);
    border-right: 0;
    font-weight: bold;   
    text-align: center; 
    width: 100%;  
}

.local {
    display: flex;
	align-items: center;
	justify-content: center;
    height: 49px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    padding: 0 1em;
}

 /*filtre*/
.filter {
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: row; 
}

.border-filter {
    flex-direction: row;
    width: auto;
    height: 20px;
    border: 3px solid var(--main-bg-color);
    border-radius: 40px;
    margin:0.5em;
    padding:1rem;
    justify-content: center;
    flex-wrap: wrap; 
 }

 .title-filter {
    display: flex;
    padding: 20px;
    justify-content: space-around; 
 }

.border-filter:hover{
    background-color: #DEEBFF;
 }

 /* plus de 500 logement...*/
.around {
    display: flex;
    border: 1px solid var(--filter-bg-color);
    border-radius: 50%;
    width:1.5em;
    height:1.5em;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 10px;
 }

.info {
    display: flex;
    margin: 30px;
    align-items: center;  
}

/*body*/

body { 
    justify-content: center;
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;  
}

.section-title {
   padding-left: 15px;  
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 1%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;  
}

.wrapper { 
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    margin: 1em;
    margin-left: 10px;
    grid-column-gap: 1em;
    grid-row-gap: 1em; 
  }

.padding-title {
    padding: 40px 0 10px 
}

.card img {
    object-fit: cover; 
}

.card-title {
    font-size: 16px;
}

.aff {
    padding: 10px;
    font-size: 14px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;   
}

.hebergements-and-populaires section {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.pad-heberg {
    padding: 0 0 10px 10px;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;   
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;     
}

.populaires-cards .card {
    display: flex;
    margin: 10px 0;
}

.populaires-cards img {
    display: flex;
    height: 140px;
    width: 110px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 5px;
}

.hebergement-cards img {
    width: 100%;
    height: 8em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-bottom: 2%;
}

.populaires-cards .card-subtitle {
    margin: 0;
    padding: 0;  
}

.populaires-cards .card-rating {
    margin-bottom: 1%;
}
.position-card-rating {
    position: absolute;
    top: 115px;
    left: 125px;
}

/*activité a marseille*/
.card-activity {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 25%;
    margin: 10px;
}

.card-activity img {
    display: flex;
    height: 350px;
    object-fit: cover;
}

.activity {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between 
}

.marge-title {
    padding: 0 10px;
    margin:14px 0 10px 5px;
    font-size: 14px;    
}

/*footer*/

.card-foot {
    display: flex;
    border:solid 1px var(--main-bg-color);
    background-color:var(--main-bg-color);
    margin: 20px  10px 0 10px;
    
}

.content-foot {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-left: 3%;   
}

.txt-foot {
    display: flex;
    flex-direction: column;
    font-size: 16px; 
}

@media (min-width: 1024px) {

    .button-small {
        display: none;
    }
}









