/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

main {
    display: flex;
}


ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin-block-end: 0; 
  }

li {
    padding-bottom: 10px;
}

a { 
    text-decoration: none;
    color: black; 
}

.flex {
    display: flex;
    width: 100%;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);  
}

.fa-sharp {
    color: black;
}

.contenair-title {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;   
}

/*top*/
.logo{
    display: flex;
    height: 30px;
    margin-top: 20px;  
}
 
header {
    margin: 0 10px ;
}

.lien {
    display: flex;
    gap:40px;    
}

.lien1{
    padding-top: 20px;
    border-top:3px solid #ffffff;
}

.lien1 a {
    color: black;
}

.lien1 a:visited {
    color: black;
}

.lien1:hover{
    border-top:3px solid var(--main-color); 
}

.lien1:hover a {
    color: var(--main-color);
}
/*title*/

h2 {
    font-size: 22px; 
 }

h3 {
    font-size: 18px;
    font-weight: normal;
    margin-block: 10px ;
   
}
.pad {
    margin: 0 20px ;
}

/*barre de recherche*/
.recherche {
    display: flex;
    padding: 30px 0;
    border-radius: 0;
    width: 50%;
    margin-bottom: 20px;
}

.button {
    display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 0px 15px 15px 0px;
    color: white;
    background-color: var(--main-color);
    width: auto;
    height: 49px;
    font-weight: bold; 
    padding: 0 1em; 
    border: var(--main-color);    
}
 
.contenair-input {
    width:70%;
}
    
input {
    display: flex;
    height: 49px;
    border:2px solid var(--main-bg-color);
    border-right: none;
    font-weight: bold;   
    text-align: center; 
    width: 100%;
}

.local {
    display: flex;
	align-items: center;
	justify-content: center;
    width: auto;
    height: 49px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    padding: 0 1em;
}

 /*filtre*/
.filter {
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: row; 
}

.border-filter {
    flex-direction: row;
    width: auto;
    height: 20px;
    border: 3px solid var(--main-bg-color);
    border-radius: 40px;
    margin:0.5em;
    padding:1rem;
    justify-content: center;
    flex-wrap: wrap; 
 }

 .title-filter {
    display: flex;
    padding: 4px 20px;
    justify-content: space-around; 
 }

.border-filter:hover{
    background-color: #DEEBFF;
 }

 /* plus de 500 logement...*/
.around {
    display: flex;
    border: 1px solid var(--filter-bg-color);
    border-radius: 50%;
    width:1.5em;
    height:1.5em;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 10px;
 }

.info {
    display: flex;
    margin-bottom: 40px;
    margin-top: 20px;
    align-items: center;  
}

/*body*/

body { 
    justify-content: center;
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
    
}

.section-title {
    margin-top: 10px;
    font-size: 22px;   
}

.card { 
    background-color: white;
    border-radius: 20px;
    padding: 1%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;  
}

.wrapper { 
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    margin: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

.padding-title {
    padding: 0 0 10px 10px
}

.card img {
    object-fit: cover; 
}


.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/


.hebergements-and-populaires {
    
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;   
}

.hebergements-and-populaires section {
    display: flex;
    justify-content: space-between;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;   
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;     
}

.populaires-cards .card {
    display: flex;
    margin: 10px 0;
}

.populaires-cards img {
    width: 80%;
    height: 11em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hebergement-cards img {
    width: 100%;
    height: 7em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-bottom: 2%;
}

.populaires-cards .card-subtitle {
    margin: 0;
    padding: 0;  
}

.populaires-cards .card-rating {
    margin-bottom: 1%;
}

/*activité a marseille*/
.card-activite {
   
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 25%;
    margin: 10px;
}

.card-activite img {
    display: flex;
    height: 88%;
    object-fit: cover;
}

.activites {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between 
}

.marge-title {
    padding: 0 10px;
    font-size: 14px;    
}

/*footer*/

.card-foot {
    display: flex;
    border:solid 1px var(--main-bg-color);
    background-color:var(--main-bg-color);
    margin:10px;
    padding: 0 20px;
}

.content-foot {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-left: 3%;   
}

.txt-foot {
    display: flex;
    flex-direction: column;
    font-size: 16px; 
}

.pad-foot {
    padding-bottom: 10px;
}

@media (min-width: 1024px) {

    .button-small {
        display: none;
    }
}









